* {
    font-family: "Poppins", serif !important;
}

body {
    background-color: #FFFDF2;
}

#fixednav {
    margin: 0 !important; 
    padding:0 !important; 
    position: fixed;
    background-color: #205A28 !important;
}

#navbg, .bg-body-tertiary {
    background-color: #205A28 !important;
}

#navbg a {
    color: #FFFFFF;
}

#main-content-area {
    padding-top: 65px;
    height: 100vh auto;
}

#home-greetings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-title {
    font-family: "Belanosima", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 70px;
}

#home-sub-title {
    font-family: "Belanosima", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
}

#home-container h1 {
    color: #2C5F2D;
    text-align: center;
}

#page-container-headers .container {
    width: 475px !important; 
    margin-top: 35px;
}

#create, #login {
    color: #2C5F2D;
    text-align: center; 
    padding-top: 10px; 
    padding-bottom: 20px;
}

#register {
    width: 100%;
}

#login-account .container {
    width: 375px !important; 
    margin-top: 35px;
}

#log_in {
    width: 100%;
}

.mb-3 input, .mb-3 select, #activities, #notes, #service_description {
    border: 2px solid black !important;
}

#list-container {
    width: 800px;
}

#list-container h1 {
    color: #2C5F2D;
    text-align: center; 
}

#list-container h3, #list-container ul, #list-container p {
    color: #333333;
}

#list-header {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-left: 40px;
}

#list-header a {
    margin-right: 25px;
}

#list-items {
    border-top: 1px solid black;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
    padding-top: 20px; 
}

#pet-left {
    margin-left: 10px;
}

#pet-right {
    margin-right: 15px;
}

#title-header {
    color: #2C5F2D;
    text-align: center; 
    padding-bottom: 5px;
}

#pet-image{
    margin-left: 100px;
}

#action-button, #back-button {
    width: 100% !important;
}

#create-edit-form input, select {
    border: 2px solid black !important;
}

#details {
    list-style: none;
    border-top: 1px solid black;
    margin-bottom: 20px; 
    padding-top: 20px; 
}

#title-details {
    color: #2C5F2D;
    text-align: center; 
    padding-bottom: 5px;
}

#pet-records-list {
    border-top: 1px solid black;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

#pet-records-list a{
    padding-bottom: 20px; 
    list-style: none !important;
}

#pet-records {
    width: 100%;
}

.table {
    background-color: transparent !important;
    border-collapse: collapse;
}

.table tr {
    background-color: transparent !important;
}

.table td {
    background-color: transparent !important;
}

#date {    
    width: 580px;
}

.service-description, .activities, .notes {
    word-wrap: break-word;
    white-space: pre-line;
    max-width: 92%;
    overflow-wrap: break-word;
}