{% extends 'app/customer_dashboard.html' %}
{% load static %}
{% block content %}
    <div class="container" id="pet-list-container">
        <br> <br>
        <h1>Pet Profiles</h1> <br>
        <div id="pet-list-header">
            <h3>List of Pets :</h3>
            <a href="{% url 'add-pet' %}" class="btn btn-success">Add New Pet</a> 
        </div>
        <br>
        {% if pets %}
            <ul>
                {% for pet in pets %}
                    <li id="pet">
                        <div id="pet-left">
                            <strong>Name:</strong> {{ pet.pet_name }} <br>
                            <strong>Breed:</strong> {{ pet.breed }} <br>
                        </div>
                        <div id="pet-right">
                            <a href="{% url 'pet-detail' pet.pk %}" class="btn btn-info">View Pet Details</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't registered any pets yet.</p>
        {% endif %}
    </div>
    <br><br>
{% endblock content %}