{% extends 'app/customer_dashboard.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid" id="edit-pet-profile">
        <div class="container">
            <h4 id="edit-pet-details">Update {{ pet.pet_name }}'s Details</h3>
            <form id="edit-pet-form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success" id="add-pet-button">Save</button>
                    </div>
                    <div class="col">
                        <a href="{% url 'customer-pets' %}" class="btn btn-secondary" id="back-button">Back to Pets</a>
                    </div>
                </div>
            </form> 
        </div>
    </div>    
{% endblock content %}