{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid" id="login-account">
        <div class="container">
            <br> <br> <br>
            <h3 id="login">Login</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username|add_class:"form-control" }}
                    {{ form.username.errors }}
                </div>

                <div class="mb-3">
                    {{ form.password|add_class:"form-control" }}
                    {{ form.password.errors }}
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="log_in">Login</button>
            </form> 
        </div>
    </div>
{% endblock content %}
