{% extends 'app\base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid" id="create-account">
        <div class="container">
            <h3 id="create">Create Account</h3>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username|add_class:"form-control" }}
                    {{ form.username.errors }}
                </div>
            
                <div class="row mb-3">
                    <div class="col">
                        {{ form.first_name|add_class:"form-control" }}
                        {{ form.first_name.errors }}
                    </div>
                    <div class="col">
                        {{ form.last_name|add_class:"form-control" }}
                        {{ form.last_name.errors }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.sex|add_class:"form-select" }} 
                        {{ form.sex.errors }}
                    </div>
                    <div class="col">
                        {{ form.age|add_class:"form-control" }}
                        {{ form.age.errors }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        {{ form.email|add_class:"form-control" }}
                        {{ form.email.errors }}
                    </div>
                    <div class="col">
                        {{ form.contact_number|add_class:"form-control" }}
                        {{ form.contact_number.errors }}
                    </div>
                </div>
            
                <div class="mb-3">
                    {{ form.password1|add_class:"form-control" }}
                    {{ form.password1.errors }}
                </div>
            
                <div class="mb-3">
                    {{ form.password2|add_class:"form-control" }}
                    {{ form.password2.errors }}
                </div> <br>
                <button type="submit" class="btn btn-primary" id="register">Register</button>
            </form> 
        </div>
    </div>    
{% endblock content %} 