{% extends 'app/base.html' %}
{% block content %}
<div class="container-fluid" id="page-container-headers">
    <div class="container">
        <br> 
        <br>
        <h2 id="title-header"> Delete Appointment?</h3> 
        <br>
        <ul id="details">
            <li><strong>Pet Name:</strong> {{ appointment.pet.pet_name }}</li>
            <li><strong>Date:</strong> {{ appointment.date }}</li>
            <li><strong>Time:</strong> {{ appointment.time }}</li>
            <li><strong>Status:</strong> {{ appointment.status }}</li>
            <li><strong>Booked Services:</strong></li>
                <ul>
                {% for service in appointment.services.all %}
                    <li>{{ service.service_name }}</li>
                {% endfor %}
                </ul>
        </ul>
        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    <input type="submit" value="Confirm Delete" class="btn btn-danger" id="action-button">
                </form>
            </div>
            <div class="col">
                <a href="{% url 'appointment_list' %}" class="btn btn-secondary" id="back-button">Cancel</a>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}